html {
  box-sizing: border-box;
  line-height: 1.5;
  background-color: #dbd6cf;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #79756f;
  border-style: solid;
  border-color: #595652;
  padding:  .6em .5em .75em;
}

h1, ul {
  color: #fff;
}

h1 {
  text-align: center;
  font-family: "Bevan", sans-serif;
}

ul li {
  list-style-type: none;
  font-family: sans-serif;
  background-color: #713837;
  padding:  .6em .5em .75em;
  display: inline-block;
  align-content: center;

}
