html {
  box-sizing: border-box;
  line-height: 1.5;
  background-color: #dbd6cf;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #79756f;
  border-style: solid;
  border-color: #595652;
  margin: 0;
  display: block;
  padding: 0;
  border: 3px solid #595652;
}

header {
  background-color: #79756f;
  border-style: solid;
  border-color: #595652;
  padding: .6em .5em .75em;
  margin: 0;
  vertical-align: middle;
  text-align: center;
}

h1 {
  font-family: Bevan, sans-serif;
  text-align: center;
  display: block;
  color: #fff;
}

ul li {
  list-style-type: none;
  font-family: sans-serif;
  background-color: #713837;
  padding: .6em .5em .75em;
  margin: .3em  0;
  display: inline-block;
  border-radius: 5px;
}

li:hover {
  background-color: #f33;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

nav li {
  display: inline-block;
  color: #fff;
}

ul {
  padding: 0;
}
